<body>
<div class ="abc">
<h1>User</h1>
<%= link_to(' Existing User', {controller: 'sessions',
        action: 'login'},:class=>"acd") %>
		</n>
<%= link_to(' New User', {controller: 'users',
        action: 'new', message: 'Welcome!'},:class=>"acd") %>
		</div>
		</body>
<style>
body{
 background-color: #d0e4fe;
}
.abc{
color:red;
}
.acd{
color:yellow}
</style>

